################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Emerson Excel Tool/.vs/Emerson Excel Tool/v15
